/**** common ****/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 60%;
    margin: 0 auto;
}

/**** header ****/

header{
    height: 70px;
    line-height: 70px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    padding: 0 20px;
}

header img,
header li{
    padding: 0px 20px;
}

header img{
    vertical-align: middle;
}

header *{
    display: inline-block;

}

a{
    text-decoration: none;
    color: black;
}

.destra{
    float: right;
}

.button{
    line-height: normal;
    border: 1px solid #0061ff;
    background-color: #0061ff;
    color: white;
    padding: 10px 20px;
    display: inline-block;
}

/******* main *******/

/**** prima section ****/

.sfondo{
    margin-top: 70px;
    background-color: rgb(140, 178, 250);
}


.cont-jumbo{
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.colonna{
    width: 30%;
    margin-top: 40px;
}

section h1{
    font-size: 95px;
    padding-top: 100px;
    font-weight: 700;
}

section p{
    margin-bottom: 40px;
    line-height: 1.6;
}

section span{
    margin-top: 10px;
    margin-bottom: 50px;
}

section div span{
    display: block;
}

section i{
    font-size: 60px;
    margin-bottom: 100px;
}

.jumbo img{
    position: absolute;
    top: 45%;
    left: 35%;
    width: 1000px;
}

/* seconda section */

.piano-drop .container h2{
    padding-top: 200px;
    padding-bottom: 50px;
    font-size: 40px;
}

.piano-drop span{
    display: inline-block;
    padding-right: 10px;
}

.piano-drop .container::after{
    content: "";
    display: table;
    clear: both;
}

.prova-gratis{
    width: 28%;
    margin-right: 50px;
    float: left;
    border: 1px solid lightgray;
}

.box{
    width: 80%;
    margin: 0 auto;
}

.center{
    text-align: center;
    padding: 15px 0;
}

.prova-gratis .center{
    border-bottom: 1px solid lightgray;
}

.box h3{
    font-size: 25px;
    padding-top: 30px;
}

.prova-gratis li{
    list-style: none;
}

.prova-gratis .lista li:nth-child(1){
    font-weight: bold;
    padding-bottom: 10px;
}

.prova-gratis .lista li:nth-child(2){
    color: lightgray;
}

.spazio-35{
    padding-bottom: 35px;
}

.spazio-20{
    padding-bottom: 20px;
}

.box .button{
    width: 100%;
    text-align: center;
}

.box a{
    color: #0061ff;
    text-decoration: underline;
}

.box>div{
    margin-bottom: 35px;

}

.border{
    border-bottom: 1px solid lightgrey;
    width: 20%;
}

/**** debug ****/
/*
header{
    background-color: aqua;
} */


/* .cont-jumbo{
    height: 100%;    
    background-color: blueviolet;
} */

/* section{
    height: 800px;
} */

/* .container{
   background-color: yellow;
   height: 100%;
} */

/* .sfondo{
    background-color:skyblue;
} */

/* .piano-drop{
    background-color: salmon;
} */

.partner-drop{
    background-color: royalblue;
}

.oper-drop{
    background-color: seagreen;
}

.faq-drop{
    background-color: springgreen;
}

footer{
    height: 600px;
    background-color: black;
}