/**** common ****/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 60%;
    margin: 0 auto;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.sinistra{
    float: left;
}

.destra{
    float: right;
}

.colonna{
    width: 30%;
}
.margine{
    margin: 0 5%;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 25px;
}

h4{
    font-size: 20px;
}

/**** header ****/

header{
    height: 70px;
    line-height: 70px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid lightgray;
}

header img,
header li{
    padding: 0px 20px;
}

header img{
    vertical-align: middle;
}

header *{
    display: inline-block;

}

a{
    text-decoration: none;
    color: black;
}

.button{
    line-height: normal;
    border: 1px solid #0061ff;
    background-color: #0061ff;
    color: white;
    padding: 10px 20px;
    display: inline-block;
}

/******* main *******/

/**** prima sezione ****/

.sfondo{
    margin-top: 70px;
    background-color: rgb(140, 178, 250);
}


.cont-jumbo{
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.col-jumbo{
    width: 30%;
    margin-top: 40px;
}

.sfondo h1{
    font-size: 95px;
    padding-top: 100px;
    font-weight: 700;
}

.sfondo p{
    margin-bottom: 40px;
    line-height: 1.6;
}

.sfondo span{
    margin-top: 10px;
    margin-bottom: 50px;
}

.sfondo div span{
    display: block;
}

.sfondo i{
    font-size: 60px;
    margin-bottom: 100px;
}

.jumbo img{
    position: absolute;
    top: 45%;
    left: 35%;
    width: 1000px;
}

/* seconda sezione */

.piano-drop .container h2{
    padding-top: 200px;
    padding-bottom: 50px;
}

.piano-drop span{
    display: inline-block;
    padding-right: 10px;
}

.prova-gratis{
    min-height: 1000px;
    margin-bottom: 50px;
}

.bordo{
    border: 1px solid lightgray;
}

.box{
    width: 80%;
    margin: 0 auto;
}

.center{
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid lightgray;
}

.box h3{
    padding-top: 30px;
}

.prova-gratis li{
    list-style: none;
}

.prova-gratis .lista li:nth-child(1){
    font-weight: bold;
    padding-bottom: 10px;
}

.prova-gratis .lista li:nth-child(2){
    color: lightgray;
}

.spazio-35{
    padding-bottom: 35px;
}

.spazio-20{
    padding-bottom: 20px;
}

.box .button{
    width: 100%;
    text-align: center;
}

.box a{
    color: #0061ff;
    text-decoration: underline;
}

.box>div{
    margin-bottom: 35px;
}

.border{
    border-bottom: 1px solid lightgrey;
    width: 20%;
}

.vendite{
    width: 100%;
    margin-bottom: 100px;
    border: 1px solid lightgray;
    
}

.enterprice{
    margin: 20px;
}

.vendite .button{
    padding-left: 70px;
    padding-right: 70px;
}

.vendite h4{
    padding-top: 20px;
    padding-bottom: 30px;
}

/* terza sezione */

.partner-drop .img{
    width: 55%;
}

.partner-drop .destra{
    width: 40%;
}

.partner-drop img{
    width: 100%;
}

.partner-drop .destra p,
.partner-drop .destra h3{
    padding-top: 40px;
}

.partner-drop .button{
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* quarta sezione */

.top{
    margin-top: 100px;
}

.oper-drop img{
    width: 100%;
}

.oper-drop div p{
    padding-top: 30px;
    padding-bottom: 150px;
}

.oper-drop p span{
    text-decoration: underline;
}

/* quinta sezione */

.business{
    width: 100%;
}

.business h2{
    padding-bottom: 30px;
}

.business .container div{
    width: 48%;
}

.business a{
    color: #0061ff;
    text-decoration: underline;
    padding-bottom: 40px;
}

.business .blocco-sn{
    width: 30%;
}

.business .blocco-centrale{
    width: 40%;
}

.business .blocco-sn .quadrato{
    width: 50%;
}

.business .blocco-sn img{
    width: 100%;
    object-fit:cover;
}

.business .blocco-centrale img{
    width: 100%;
}

.business .sinistra div:first-child{
    background-color:#a2d39b;
}

.business .sinistra div:nth-child(2){
    background-color: #61082b;
}


/**** debug ****/
/*
header{
    background-color: aqua;
} */


/* .cont-jumbo{
    height: 100%;    
    background-color: blueviolet;
} */

/* section{
    height: 800px;
} */

/* .container{
   background-color: yellow;
   height: 100%;
} */

/* .sfondo{
    background-color:skyblue;
} */

/* .piano-drop{
    background-color: salmon;
} */

/* .partner-drop{
    background-color: royalblue;
} */

/* .oper-drop{
    background-color: seagreen;
} */

/* .faq-drop{
    background-color: springgreen;
}

footer{
    height: 600px;
    background-color: black;
} */